.pageMain{
    padding: 50px 20px;
    max-width: 1090px;
    margin: auto;
}


.tripleColumn{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    column-gap: 5%;
}

.columnItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.columnImg{
    max-width: 33%;
}

.stories{
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    
    max-width: 1090px;
    margin: auto;
    padding: 20px;

}

/* faqs */

.faqBanner h1{ 
    background-color: #fa4a4f;
}
.pageFAQs{
    display: grid;
    row-gap: 5px;
    margin: auto;
    max-width: 750px;
    padding: 100px 20px;
}
.pageFAQs p {
    text-align: left;
    line-height: 1.875em;
}

.moreQuestions {
    font-size: 1.2em;
    font: 300 1.5625em / 1.6em 'Oswald', Arial, sans-serif;
    margin: 40px 0 40px;
    text-align: center;

}
/* why beauty */

.contactBanner h1{
    background-color: #d60053;
}

.oldStory{
    background-color: #f5f5f5;
    color: #666;
    font-size: 18px;
    padding: 33px 15px;


}

.newStory{
    background-color: #ff629f;
    color: white;
    font-size: 18px;
    padding: 33px 15px;
}

.arrow{
    content: "\f061";
    color:#ff629f; 
    font-size: 25px;
    text-align: center;
    transform: rotateZ(90deg);
}

/* it's a human issue */

.pagePrivacy p.attribution{
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

.about{
    font-style: italic;
}


/* privacy */

.pagePrivacy{
    max-width: 1090px;
    margin: auto;
    padding: 50px 20px 20px 20px;
}

.pagePrivacy p{
    text-align: left;
    line-height: 1.875em;
    margin-bottom: 40px;

}

.pagePrivacy ul{
    padding: 0 0 40px 40px;
}

.pagePrivacy li{
    list-style-type: disc;
    line-height: 1.875em;
}

.pagePrivacy h1{
    text-align: left;
    line-height: 1.875em;
    font-size: 30px;
}

/* contact page */

.contactLink{
    color: #D60053;
    text-decoration: none;
}

.contactLink:hover{
    color: #ff7638;
}

.pageContact p, .pageContact h1{
    text-align: left;
    line-height: 1.875em;
    margin-bottom: 40px;
} 

/* sustainable network */

.pageSustainable{
    max-width: 1090px;
    margin: auto;
    padding: 50px 20px 20px 20px;
}

.pageSustainable desc{
    text-align: center;
    line-height: 1.875em;
    font-size: 16px;
}

.pageSustainable .emphasis{
    font-size: 19.2px;
    font-family: 'Oswald', Arial, sans-serif;
}

.dropContainer{
    padding: 0 0px;
}

/* Our Impact */

.quotation{
    font-style: italic;
    text-align: center;
    font-weight: 600;
    border-left: #fa4a4f 5px solid;
    font-size: 1.1em;
    line-height: 2.5625em;
    width: 90%;
    margin: 40px auto 80px;
}

/* who we are pages */

.top-text {
    text-align: left;
    padding: 25px 20px 55px 20px;
    line-height: 1.66em;
}

.join-team {
    line-height: 2.5625em;
    margin: 40px 20px 50px 20px;
}

.button{
    color: white;
    padding: 3px 25px 4px;
    cursor: pointer;
    font-size: 1.25em;
    min-width: 152px;
    text-transform: uppercase;
    text-decoration: none;
    font: 1.25em 1.875em "Oswald", "Open Sans", Arial, Helvetica, sans-serif;
    transition: all .5s ease;
    transform: scale(0.8,1.2);
    text-align: center;
}

.button:hover{
    background-color: white;
}

.red{
    background-color: #fa4a4f;
    border: 1px solid #fa4a4f;
}

.pink{
    background-color: #ff629f;
    border: 1px solid #ff629f;
}

.orange{
    background-color: #ff7638;
    border: 1px solid #ff7638;
}

.red:hover{
    color: #fa4a4f;
}

.pink:hover{
    color: #ff629f;
}

.orange:hover{
    color: #ff7638;
}  

p a {
    color: #D60053;
    text-decoration: none;
}

p a:hover {
    color: #ff7638;
}

.right-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 25px 20px;
}

.left-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}
.row-text{
    line-height: 1.875em;

}

.row-text p{
    text-align: left;
    font-size: 1em;
}

.row-text h2{
    text-align: left;
    font-size: 1.875em;
}
.row-image{
    margin: 25 20 30 20;
    width: 100%;
}

figcaption{
    font-size: 0.875em;
    text-align: center;
    margin-top: 10px;
}

.row-text li {
    font-size: 20.25px;
    line-height: 1.66em;
    margin-bottom: 30px;
}

.row-text ul {
    padding: 0 0 0 30px;

}



/* desktop view */
@media screen and (min-width: 768px) {


    .tripleColumn{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .columnImg{
        max-width: 100%;
    }

    .titleContainer{
        padding: 0 43px 40px; 
    }

    .pageFAQs{
        padding: 100px 0 0 0;
    }

    .stories{
        grid-template-columns: 1fr 86px 1fr;
        grid-template-rows: 1fr;
        padding-top: 0;
        
    
    }
    
    .newStory{
        padding: 50px 22px;
    }

    .oldStory{
        padding: 50px 22px;
    }

    .whyBeautyHero .hero{
        height: 20px;
        
    }

    .whyBeautyHero h1, h2{
        font-size: 35px;
    }

    .whyBeautyHero p{
        font-size: 18px;
    }

    .whyBeauty p{
        font-size: 18px;
    }

    .arrow{
        content: "\f061";
        transform: none;
        color:#ff629f;
        width: 90px;
        margin:auto; 
        font-size: 90px;
        
        /* transform: rotateZ(90deg) scale(0.5, 0.5); */
    }

    .quotation{
        font-size: 1.2em;
        line-height: 2.5625em;
        margin: 40px auto 80px;
        padding: 0 20px 0 60px;
        max-width: 1090px;
    }

    .right-row{
        flex-direction: row;
        align-items: top;
        justify-content: space-around;
        padding: 50px 0px;
        max-width: 1090px;
        margin: auto;
    }
    .right-row-container{
        background-color: #f5f5f5;
    }
    .left-row{
        flex-direction: row-reverse;
        align-items: top;
        justify-content: space-around;
        padding: 50px 0px;
        max-width: 1090px;
        margin: auto;
    }
    .row-text{
        width: 36.95%;
        margin: 0 30px;
    }
    .row-image{
        width: 59.23%;
        text-align: center;
    }
    .row-image img{
        width: 100%;
    }

    /* Educators */

    .educators-banner div img{
        object-fit: cover;
        height: 450px;
        width: 100%;
        object-position: center top;
    }

    /* sustainable network */
    
    .dropContainer{
        padding: 0 146px;
    }
    .pageSustainable .emphasis{
        font-size: 25px;
    }

    /* who we are pages */
    .top-text {
        text-align: center;
    }

}