.dropdownMenu{
    width: 100%;
    background-color: transparent;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: right;
    cursor: pointer;
    width: 100%;
}

.dropdownChildren ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all linear 0.3s;
}

/* .dropdownChildren{
    padding-left: 10px;
} */

.dropdownMenu ul li{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* border-bottom: 1px solid #f0f0f0; */
}

.dropdownHeader a{
    text-decoration: none;
    color: #666666;
}

.dropdownHeader button{
    background-color: inherit;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noLink button .active{ /*this doesn't work rn */
    background-color: #fa4a4f;
    /* background-color: green; */
 }
.noLink button:hover{
    background-color: #D60053;
}

 

.noLink{
    text-decoration: none;
    
    background-color: #ff7638;;
}
.noLink button{
    width: 100%;
    color: white;
}

.noLink h2{
    font-size: 22px;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1;
    text-align: left;
    /* text-align: center; */
}

.indicator{
    font-weight: 1000;
    font-size: 30px;
    line-height: 0;
    /* height: 0; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
    text-align: center;
}

