.hero{
    display: grid;
}

.heroImage{
    grid-area: 1 / 1;
}

.heroChildren{
    grid-area: 1 / 1;
    position: relative;
    place-items: center;
    display: grid;
    color: white;
    /* font-size: 30px; */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 10px;
}

/* desktop view */
@media screen and (min-width: 768px) {
    .hero{
        height: 400px;
    }
    
}