.heroBanner {
    height: 130px;
    display: grid;
    
}

.heroBannerImage{
    grid-area: 1 / 1;
    z-index: -1;
}

.heroTitle{
    grid-area: 1 / 1;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 96px;
    grid-template-columns: fit-content(100%) 1fr;
}

.heroTitle h1{
    background-color: #fa4a4f; /*#d60053;*/
    color: #fff;
    /* left: 0; */
    margin: 0;
    /* position: relative; */
    text-align: right;
    padding: 8px 24px 9px 24px;
    /* bottom: 390px; */
    grid-area: 2/1/3/1;
    margin-bottom: 48px;
    /* min-width: 150.88px; */
    width: fit-content;
    
}

/*desktop*/
@media screen and (min-width: 768px) {
    .heroBannerImage{
        height: 450px;
    }
    /* .heroBannerImage img{
        object-fit: cover;
        height: 450px;
        width: 100%;
        object-position: center top;
    } */

    .heroTitle{
        height: 450px;
        grid-template-columns: 25% 1fr;
    }

    .heroBanner{
        height: 450px;
    }

    .heroTitle h1{
        font-size: 24px;
        /* padding-left: 16%; */
        text-align: right;
        width: 100%;
    }
}

