*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    max-width: 100%;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color:#666666;
    font-size: 16px;
    /* may want to make font size 18px by default */ 
}

/* main{
    background-color: red;
} */

h1, h2{
    font: 300 1.875em/1.33em "Oswald", "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 1.5em;
}
h2{
    font-size: 1.3em;
}

p{
    text-align: center;
}

/* header */

nav {
    font-size: 14px;
    grid-area: 1 / 3 / 1 / 4;
}

.navMobile .nav-links{
    /* position: absolute; */
    /* width: 100vw; */
    /* background-color: rgba(0, 0, 0, 0); */
    /* padding-right: 50px; */
    
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navMobile .nav-link-item{
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #eee;
    text-align: left;
}


header {
    max-width: 1090px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    padding: 8px 0px 9px;
    position: relative;
    align-items: top;
    justify-content: space-between;
    height: 100px;
    z-index: 2;
}

.headerImage{
    /* position: absolute; */
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    position: relative;
}

.headerImage, .navMobile{
    overflow: visible;
}

.headerImage img{
    z-index: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-direction: row-reverse;
}
.nav-link-item {
    padding-right: 2rem;

}
.nav-link-text {
    color: #666666;
    text-decoration: none;
    z-index: 2;
    position: relative;
}

.nav-link-text {
    color: #666666;
    text-decoration: none;
    transition: all linear 0.3s;
    padding-bottom: 3px;
}



.nav-link-item:not(:hover) .hiddenNav{
    display: none;
}

.hiddenNav{
    /* position: absolute; */
    background-color: white;
    padding-top: 10px;
    z-index: 1;
}

.hiddenNav ul{
    list-style: none;
    padding-left: 0;
    position: absolute;
    background-color: white;
    width: 180px;
}

.hiddenNav li{
    border-bottom: 1px solid lightgray;
    padding: 10px 5px;
    transition: all linear 0.3s;
}

.hiddenNav li a{
    transition: all linear 0.3s;
}

.hiddenNav li:hover{
    background-color: #D60053;
}

.nav-link-item:hover .hiddenNav li a{
    color: #666666;
    border: none;
}

.nav-link-item:hover .hiddenNav li:hover a{
    color: white;
}

.navDesktop {
    display: none;
}

.hamburger {
    display: block;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    cursor: pointer;
    z-index: 3;
    background-color: inherit;
    border: none;
    font-size: 20px;

}


/* footer */ 
.mainFooter {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1090px;
    margin: auto;
}

footer {
    background-color: #333;
    color: white;
    font-size: 14px;
}

footer ul{
    list-style: none;
    padding-left: 0;
}

.copyright {
    text-align: center;
    padding: 0.5rem;
    background-color: black;
}
.copyright li {
    display: inline;
}

.copyright li:after {
    content: " | ";
}

.copyright li:last-child:after {
    content: "";
}

.footerImage{
    display: none;
}

footer a {
    color: white;
    text-decoration: none;

}



/* tablet view */
@media screen and (min-width: 550px) {

    /* tablet footer */ 
    footer li {
        display: inline;
    }
    
    footer li:after {
        content: " | ";
    }
    
    footer li:last-child:after {
        content: "";
    }

    .mainFooter {
        justify-content: center;
    }

}

/* desktop view */ 
@media screen and (min-width: 768px) {

    h1{
        font-size: 30px;
    }
    h2{
        font-size: 1.625em;
    }

    /* desktop header */
    .navDesktop {
        display: grid;
        margin-top: 30px;
        
    }

    .navMobile {
        display: none;
    }
    
    .nav-link-item:hover .nav-link-text{
        color: #FF7638;
        border-bottom: 3px solid #FF7638;
    
    }

    .hamburger {
        display: none;
    }

    
    /*desktop footer */
    .footerImage{
        display: block;
    }

    .mainFooter {
        justify-content: space-between;
        padding: 38px 20px 34px;
    }
    
    footer ul {
        margin-top: 50px;
    }

    
}

/* mobile view */
@media screen and (max-width: 550px) {

    /* mobile footer */
    .mainFooter {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px 0 0px;
    }
    footer li {
        margin-bottom: 15px;
    }
    footer ul {
        margin: 0;
    }
}


